stages:
  - test
  - deploy

.php: &php
  image: php:7-apache
  before_script:
    - apt-get -qqy update
    - apt-get -qqy install git
    - pecl install xdebug 
    - echo "zend_extension=$(find /usr/local/lib/php/extensions/ -name xdebug.so)" > /usr/local/etc/php/conf.d/xdebug.ini
    - curl -sS https://getcomposer.org/installer | php
    - php composer.phar install

.selenium: &selenium
  <<: *php
  stage: test
  script:
    - rm -rf /var/www/html
    - mv src /var/www/html
    - apache2ctl start
    - vendor/bin/phpunit --configuration phpunit-selenium.xml

unit-tests:
  <<: *php
  stage: test
  script:
    - vendor/bin/phpunit --configuration phpunit.xml --coverage-text --colors=never

selenium:firefox:
  <<: *selenium
  services:
    - selenium/standalone-firefox:latest
  variables:
    SELENIUM_HOST: selenium__standalone-firefox
    SELENIUM_DRIVER: firefox

selenium:chrome:
  <<: *selenium
  services:
    - selenium/standalone-chrome:latest
  variables:
    SELENIUM_HOST: selenium__standalone-chrome
    SELENIUM_DRIVER: chrome

deploy:
  stage: deploy
  image: docker:latest
  services:
    - docker:dind
  script:
    - export IMAGE_TAG=$(echo -en $CI_BUILD_REF_NAME | tr -c '[:alnum:]_.-' '-')
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE:$IMAGE_TAG .
    - docker push $CI_REGISTRY_IMAGE:$IMAGE_TAG

